/* -------- Global Style -------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background-color: #18191D;   /* dark background */
    color: #ffffff;
  }
  
  /* -------- Header -------- */
  header {
    width: 100%;
    padding: 25px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo p {
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1px;
    transition: 0.3s;
  }
  
  nav ul li a.active,
  nav ul li a:hover {
    color: #F88787; /* soft pink highlight */
  }
  
  /* -------- Home Section -------- */
  .Home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    gap: 20px;
    flex-wrap: wrap;

    position: relative;
    top: -50px;
    
  }
  
  .Home .content {
    max-width: 520px;
  }
  
  .Home h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  
  .Home h1 span {
    color: #F88787; /* Pink accent */
  }
  
  .Home p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 25px;
    color: #d1d1d1;
  }
  
  .resume-btn {
    display: inline-block;
    background: #F88787;
    color: white;
    padding: 12px 28px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;
  }
  
  .resume-btn:hover {
    opacity: 0.8;
  }
  
  /* -------- Social Icons -------- */
  .socials {
    margin-top: 30px;
    display: flex;
    gap: 20px;
  }
  
  .socials a {
    font-size: 28px;     /* icon size */
    color: white;        /* default white */
    transition: 0.3s;
  }
  
  .socials a:hover {
    color: #d37a7a;      /* pink on hover */
    transform: scale(1.15);
  }
  
  
  /* -------- Profile Image -------- */
  .image {
    position: relative;
    right: 40px;     /* move image to the right */
    top: 0px;       /* move image upward */
  }
  .image img {
    width: 320px;
    height: auto;
    border-radius: 4px;
  }
  
  /* -------- Responsive -------- */
  @media (max-width: 900px) {
    header {
      padding: 20px 40px;
    }
  
    .Home {
      flex-direction: column-reverse;
      text-align: left;
      padding: 50px;
    }
    .image {
        right: 0;
        top: 0;
      }
  
    .image img {
      width: 260px;
    }
  
    .Home .content {
      text-align: left;
    }
  }
  
  @media (max-width: 600px) {
    nav ul {
      gap: 20px;
    }
  
    .hero h1 {
      font-size: 34px;
    }
  
    .hero p {
      font-size: 13px;
    }
  }
  